body {
	background-image: url('http://subtlepatterns.com/patterns/furley_bg.png');
}

.nav_right {
	margin-top: 14px;
}

.align_center {
	text-align: center;
}

.align_right {
	text-align: right;
}

.rokkitt {
	font-family: Rokkitt;
}

.BenchNine {
	font-family: BenchNine;
}

.avatar {
	max-height: 50px;
	max-width: 50px;
	margin-top: 2.5em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
